$the-andrew-blue: #004e92;
$white: white;
$grey-light:darken($white, 13%);


@mixin transition($speed: 0.3s) {
	-webkit-transition: all $speed ease;
	-moz-transition: all $speed ease;
	-ms-transition: all $speed ease;
	-o-transition: all $speed ease;
}


@mixin on-circle($item-count, $circle-size) {
	position: relative;
	width: $circle-size;
	height: $circle-size;

	>* {
		display: block;
		position: absolute;

		$angle: (360 / $item-count);
		$rot: 0;

		@for $i from 1 through $item-count {
			&:nth-of-type(#{$i}) {
				transform:
					rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
			}

			$rot: $rot+$angle;
		}
	}
}

.gradient-wrapper {
	background: #1A2980;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #1A2980, #26D0CE);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #1A2980, #26D0CE);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


// START HERE
.header {
	background: url('./assets/images/backgrounds/bg.png') no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	height: 100%;
	width: 100%;
	padding: 75px 0;
	margin-bottom: 0;

	&__inner-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;

		@media only screen and (max-width: 960px) {
			flex-direction: column;
		}
	}

	&__content {
		flex-basis: 100%;
		flex: 1;

		@media only screen and (max-width: 960px) {
			margin-bottom: 25px;
		}
	}

	&__technologies {
		.circle {
			@media only screen and (min-width: 960px) {
				@include on-circle($item-count: 8, $circle-size: 17em);
				flex-direction: row;
			}
		}
	}


	&:after {
		content: '';
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #1A2980 100%);
		position: absolute;

		// Google Pixel fix
		bottom: -1px;
		left: 0;
		z-index: 1;
	}
}

.contact {

	&__blog {
		&-preview {
			background-color: $the-andrew-blue;
			background: url('./assets/images/backgrounds/bg.png') no-repeat center center;
			border-radius: 18px;
			box-shadow: 0 8px 14px rgba(0, 0, 0, .09), 0 4px 6px rgba(0, 0, 0, .09);
			position: relative;

			article {
				padding: 18px;

				&:after {
					content: '';
					width: 100%;
					height: 100%;
					background: linear-gradient(to bottom, rgba(0, 0, 0, 0) -100%, #1A2980 80%);
					position: absolute;
					bottom: 0;
					left: 0;
					border-radius: 18px;
					z-index: 1;
				}
			}


			h2,
			h4,
			span,
			p,
			a {
				z-index: 3;
				color: $white;
				position: relative;
			}
		}

		&-preview__date {
			font-size: 14px;
		}

		&-preview__url {
			font-size: 16px;
			color: $grey-light;
			display: block;
			margin-bottom: 20px;
		}

		&-preview__top-title {
			height: 30px;
		}

		&-preview__title {
			margin-bottom: 2px;

			a {
				text-decoration: none;
			}
		}

		&-preview__content {
			margin: 10px 0;
		}
	}

}

.vueperslides__parallax-wrapper {

	&::after,
	&::before {
		box-shadow: none !important;
	}
}